.navBar {
  min-height: 90px;
  border-radius: 10px;
  background-color: #ffff;
  width: 95%;
  min-width: 380px;
  padding: 10px;
  position: absolute;
  z-index: 9999;
  top: -4%;
  -webkit-box-shadow: 0px 5px 23px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 23px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 23px -12px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar > form {
  height: 100%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  > label {
    margin-left: 10px;
    color: black;
    font-weight: 600;
  }
  >input{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid #666666;
    font-size: 1rem ;
    outline: none;
    background-color: rgb(235, 235, 235);
    text-align: left;
    padding-left: 10px;
  }
  >select{
    height: 40px;
    border: 2px solid #666666;
    border-radius: 10px;
    outline: none;
    font-size: 1rem ;
    width: 140px;
  }
}
.btnFiltro{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(0, 174, 255);
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffff;
  transition: all ease-in-out .3s;
}
.btnFiltro:hover{
  transform: scale(1.02);
  background-color: rgb(48, 158, 209);
}

@media (width < 1000px) {
  .navBar > form {
    width: 85%;
    gap: 5px;
    > label {
      margin-left: 30px;
    }
  }
}
@media (width < 660px) {
  .navBar{
    position: relative;
  }
  .navBar > form {
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    > label {
      margin-left: 10px;
      color: black;
      font-weight: 600;
      text-align: left;
      display: block;
      width: 90%;
    }
    >input, select{
      width: 90%;
    }
    >button{
      width: 90%;
    }
  }
}
@media (width<800px) {
  .navBar{
    top: -2%;
  }
}